<%= form_for(therapy_budget) do |f| %>
  <% if therapy_budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(therapy_budget.errors.count, "error") %> prohibited this therapy_budget from being saved:</h2>

      <ul>
      <% therapy_budget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
