<p id="notice"><%= notice %></p>

<h1>Therapy Integrations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @therapy_integrations.each do |therapy_integration| %>
      <tr>
        <td><%= therapy_integration.name %></td>
        <td><%= link_to 'Show', therapy_integration %></td>
        <td><%= link_to 'Edit', edit_therapy_integration_path(therapy_integration) %></td>
        <td><%= link_to 'Destroy', therapy_integration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Therapy Integration', new_therapy_integration_path %>
